<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <title>Bootstrap Example</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<h2>Profile and Course</h2>
<h2>Details about <em><%= @user.uname%></em></h2>

<ul id="details">
  <li>
    UNI:
    <%= @user.uni %>
  </li>
  <li>
    Lionmail:
    <%= @user.lionmail %>
  </li>
  <li>
    Phone Number:
    <%= @user.phone %>
  </li>
  <li>
    Contact:
    <%= @user.contact %>
  </li>
  <li>
    Available Time:
    <%= @user.time_slot %>
  </li>
  <li>
    Skills:
    <%= @user.skills %>
  </li>
</ul>

<h3>About Me:</h3>
<p id="description">
  <%= @user.description %>
</p>

<h2>My Courses:</h2>
<div class="list-group" id="listGroup">
  <% @course_list.each do |course|%>
      <button class="list-group-item list-group-item-action" type="button">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item"><%= course['course_no'] %></li>
          <li class="list-group-item"><%= course['section_no'] %></li>
          <li class="list-group-item"><%= link_to 'Find Mates', course_sec_path(course['course_no'], course['section_no'])%></li>
        </ul>
      </button>
  <% end %>
</div>

<%= form_tag  course_path, :class => 'form' do %>
  <%= link_to 'Edit profile', profile_path(params[:uni]), :class => 'btn btn-primary' %>
  <%= link_to 'Add Course', add_course_path(params[:uni]), :class => 'btn btn-primary' %>
  <%= link_to 'Sign out', users_path, :class => 'btn btn-secondary' %>
<% end %>