<h2>Edit Profile</h2>

<%= form_tag profile_path(params[:uni]),  :method => :put do %>
  <%= label :user, :uname, 'User name', :class => 'col-form-label' %>
  <%= text_field :user, :uname, :class => 'form-control', placeholder: @user.uname %>
  <%= label :user, :lionmail, 'Lionmail', :class => 'col-form-label' %>
  <%= text_field :user, :lionmail, :class => 'form-control', placeholder: @user.lionmail %>
  <%= label :user, :phone, 'Phone', :class => 'col-form-label' %>
  <%= text_field :user, :phone, :class => 'form-control', placeholder: @user.phone%>
  <%= label :user, :contact, 'Contact   e.g. "WhatsApp: id..." ', :class => 'col-form-label' %>
  <%= text_field :user, :contact, :class => 'form-control', placeholder: @user.contact%>
  <%= label :user, :time_slot, 'Available time slot: ', :class => 'col-form-label'  %>
  <br/>
  <% @all_times.each do |time| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "user[time_slot][]", time, class: 'form-check-label' %>
      <%= check_box_tag "user[time_slot][]", time, (@user.time_slot.include?(time)), class: 'form-check-input' %>
    </div>
  <% end %>
  <br/>
  <%= label :user, :description, 'About Me', :class => 'col-form-label' %>
  <%= text_field :user, :description, :class => 'form-control', placeholder: @user.description %>
  <%= label :user, :skills, 'Skills', :class => 'col-form-label' %>
  <br/>
  <% @all_skills.each do |skill| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "user[skills][]", skill, class: 'form-check-label' %>
      <%= check_box_tag "user[skills][]", skill, (@user.skills.include?(skill)), class: 'form-check-input' %>
    </div>
  <% end %>
  <br/>
  <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to 'Courses', course_path(params[:uni]), :class => 'btn btn-secondary' %>
<% end %>
