<h2>Sign up an account</h2>

<%= form_tag users_path, :class => 'form' do %>
  <%= label :user, :uni, 'UNI', :class => 'col-form-label' %>
  <%= text_field :user, :uni, :class => 'form-control  col-2' %>

  <%= label :user, :password, 'Password', :class => 'col-form-label'  %>
  <%= password_field :user, :password, :class => 'form-control col-2' %>

  <%= label :user, :password_confirmation, 'Confirm Password', :class => 'col-form-label'  %>
  <%= password_field :user, :password_confirmation, :class => 'form-control col-2' %>

  <%= label :user, :uname, 'User Name', :class => 'col-form-label' %>
  <%= text_field :user, :uname, :class => 'form-control  col-2' %>
  <br/>
  <%= submit_tag 'Sign up', :class => 'btn btn-primary' %>
  <!--change movies_path to signin_path when signin_path is created-->
  <%= link_to 'Cancel', root_path, :class => 'btn btn-secondary' %>

<% end %>