<h2>Sign in to an account</h2>

<%= form_tag  signin_path, :class => 'form' do %>

  <%= label :user, :uni, 'Lion Mail  ', :class => 'col-form-label' %>
  <div class="input-group mb-3">
    <%= text_field :user, :uni, :class => 'form-control  col-2' %>
    <span class="input-group-text" id="basic-addon2">@columbia.edu</span>
  </div>

  <%= label :user, :password, 'Password', :class => 'col-form-label'  %>
  <%= password_field :user, :password, :class => 'form-control col-2' %>
  <br/>
  <%= submit_tag 'Sign in', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', users_path, :class => 'btn btn-secondary' %>
<% end %>