<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <title>Bootstrap Example</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<h2><%= @course_no %>_<%=@sec_no %></h2>
<br>
<h4> Here are Mates for your class!</h4>
<%= form_tag course_sec_path(@uni,@course_no, @sec_no), method: :get, id: 'filter_form' do %>
  <h6>Time slots:</h6>
  <% @all_times.each do |time| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "times[#{time}]", time, class: 'form-check-label' %>
      <%= check_box_tag "times[#{time}]", "1",  @times_to_show.include?(time), class: 'form-check-input' %>
    </div>
  <% end %>
  <br>
  <h6>Skills:</h6>
  <% @all_skills.each do |skill| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "skills[#{skill}]", skill, class: 'form-check-label' %>
      <%= check_box_tag "skills[#{skill}]", "1",  @skills_to_show.include?(skill), class: 'form-check-input' %>
    </div>
  <% end %>
  <br>
  <%= submit_tag 'Refresh', id: 'times_submit', class: 'btn btn-primary' %>
<% end %>

<div class="accordion" id="accordionPanelsStayOpenExample">
  <% @classmates.each do |mate|%>
  <div class="accordion-item">
    <h2 class="accordion-header" id="<%='panelsStayOpen-heading'<<mate['uni'].to_s %>">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="<%='#panelsStayOpen-collapse'<<mate['uni'].to_s %>" aria-expanded="true" aria-controls="<%='panelsStayOpen-collapse'<<mate['uni'].to_s %>">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item"><%= mate['uname'] %></li>
          <li class="list-group-item"><%= mate['time_slot'] %></li>
          <li class="list-group-item"><%= mate['skills'] %></li>
        </ul>
      </button>
    </h2>
<!--    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">-->

    <div id="<%='panelsStayOpen-collapse'<<mate['uni'].to_s %>" class="accordion-collapse collapse" aria-labelledby="<%='panelsStayOpen-heading'<<mate['uni'].to_s %>">
      <div class="accordion-body">
        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
          <h6 id="scrollspyHeading1">UNI: <%= mate['uni'] %> </h6>
          <p></p>
          <h6 id="scrollspyHeading2">Lionmail: <%= mate['lionmail'] %> </h6>
          <p> </p>
          <h6 id="scrollspyHeading3">Phone_no: <%= mate['phone'] %></h6>
          <p></p>
          <h6 id="scrollspyHeading4">Contact: </h6>
          <p><%= mate['contact'] %></p>
          <h6 id="scrollspyHeading5">About me:</h6>
          <p><%= mate['description'] %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<br>
<%= link_to 'Profile & Courses', course_path(@uni), :class => 'btn btn-primary' %>
<%= link_to 'Add Course', add_course_path(@uni), :class => 'btn btn-primary' %>